<h1><%=title%></h1>
Contact Info

<ul>
    <li>Number: 647-981-2163</li>
    <li>Personal E-mail:janelle.forbes@gmail.com</li>
    <li>Centennial E-mail: jforbe13@my.centennialcollege.ca</li>
    <li>LinkedIn:@janelle-nicoleforbes</li>
</ul>

<h2>Contact me with inquiries by filling out the form below:</h2>

<form action="../content/home.ejs" method="post">

    First Name: <input type ="text" name="fname" required>
    Last Name: <input type ="text" name="lname" required>
    Contact Number: <input type="number" number="number" required>
    E-mail Address:<input type ="text" name="email" required>
    Message:<input type ="text" message="message" required>

    Submit: <input type="submit" value="submit">
</form>