<h1><%=title%></h1>
Welcome to my Personal Portfolio!

<body>
    <h1>Mission Statement</h1>
    <p>
        To develop my web application skills to create and inspire throughout my career journey.
    </p>
</body>

<nav>
    <ul><li>Home</li>
        <li>About Me</li>
    </ul>
</nav>
