<footer>
    <nav>
        <ul><li>Home</li>
            <li>About Me</li>
            <li>Projects</li>
            <li>Services</li>
            <li>Contact Me</li>
        </ul>
    </nav>
</footer>